#screen-twenty
  h2
    text-align: center
    text-transform: none
    font-size: 46px
    line-height: 1.4

  .message
    border-color: #fff
    margin: 60px 0
    padding: 45px
    @extend #screen-thirteen .reviews ul li .review-item

    p
      text-align: center

    .icon-quote-top
      color: $blueColor
      @extend #screen-thirteen .reviews ul li .icon-quote-top

    .icon-quote-bottom
      color: $blueColor
      @extend #screen-thirteen .reviews ul li .icon-quote-bottom
