#screen-one
  height: 750px
  background: url("../images/bg_one.jpg") no-repeat center center

  .block-inner
    padding: 0px

  .header
    height: 80px

    .logo
      position: relative
      width: 170px
      height: 100%
      line-height: 90px
      float: left

      .logo-part-one
      .logo-part-two
        color: #fff
        font-size: 60px

        &.logo-part-two
          position: absolute
          right: 25px
          bottom: -10px
          color: #073f5a

    nav
      height: 100%
      float: right

      li
        line-height: 80px
        float: left
        margin: 0 15px 0 15px

        a
          font-size: 20px
          text-transform: uppercase

    .social
      height: 100%
      float: right

      li
        line-height: 80px
        float: left
        width: 16px
        margin: 0 0 0 13px

  h3
    margin: -5px 0 0 0
