#screen-twelve
  .photoalbum
    height: 415px
    width: 100%
    background-color: $blueColor
    position: relative

    img
      height: 415px
      float: left
      position: relative
      user-select: none
