doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title P-day
    | <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    | <link rel="stylesheet" href="/stylesheets/fontcustom.css">
    | <link rel="stylesheet" href="/stylesheets/style.css">

    | <script type='text/javascript' src='/scripts/libs/jquery-2.1.1.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/underscore-min.js'></script>
    //- app scripts
    | <script type='text/javascript' src='/scripts/app.js'></script>
    | <script type='text/javascript' src='/scripts/views/main.js'></script>

  body
    section#screen-one(class='block blue-block')
      .block-color
        .block-inner
          header.header
            .logo
              div(class='logo-part-one icon-logo-1')
              div(class='logo-part-two icon-logo-2')
            ul.social
              li
                a(href="#" class="inst icon-insta")
              li
                a(href="#" class="vk icon-vk")
              li
                a(href="#" class="fb icon-fb")
            nav
              ul
                li
                  a(href="#") Выступающие
                li
                  a(href="#") Партнеры
                li
                  a(href="#") О Нас
          .box
            h1
              | Главное практическое мероприятие по интернет-торговле
            h3
              | 21 июня 2014 года 15 предпринимателей расскажут о том, как они создавали и развивали свои интернет-магазины, о своих успехах и провалах, поделятся практическим опытом, секретами и фишками онлайн-торговли.
            ul
              li
                span.desc До начала осталось:
                div
                  span.count 56
                  p дней
              li
                span.desc Генеральный партнер:
                div
                  span.count 56
                  p дней
              li
                span.desc Телефон для справок:
                div
                  span.count +7 (495) 726-09-39
            .button-light Регистрация
          .scroll-button
            span Прокрутите вниз
            .icon-scroll


    section#screen-two(class='block white-block')
      .block-inner
        h3
          | В то время, как многие ходили по различным конференциям, слушали рассказы теоретиков и супер-звезд российского e-commerce, эти 15 предпринимателей работали над своими проектами. 


    section#screen-three(class='block blue-block')
      .block-color
        .block-inner
          h2
            | От 15 практиков вы узнаете
          ul
            li
              span 01
              p
                | Как они создавали свои магазины — выбирали тематику, с чего начинали и с какими сложностями сталкивались
            li
              span 02
              p
                | Секреты работы с персоналом — как нанимать и увольнять сотрудников
            li
              span 03
              p
                | Как копили и занимали деньги на запуск, находили инвесторов
            li
              span 04
              p
                | де найти надежных партнеров, выстроить выгодные отношения с ними и не разойтись в первые месяцы работы
            li
              span 05
              p
                | Каким образом они организуют работу с поставщиками, строят и оптимизируют логистику, ведут бухгалтерский учет и решают вечные проблемы с IT
            li
              span 06
              p
                | Как делать эффективную рекламу, развивать продажи, самостоятельно организовывать импорт товаров, производство и открыть розницу
            li
              span 07
              p
                | Что нужно для правильной автоматизации процессов
            li
              span 08
              p
                | Какие маркетинговые инструменты оказались эффективными, а какие чуть не разорили их
          p.slogan
            | А также, как они бороли свои страхи и находили выход из самых сложных ситуаций


    section#screen-four(class='block white-block')
      .block-inner
        h2
          | Вы узнаете о разных путях 15 интернет — предпринимателей:
        ul
          li
            .circle
              i.icon-icon-1
            p
              | Как открывать магазин без бюджета, на кредитные или инвестиционные деньги
          li
            .circle
              i.icon-icon-2
            p
              | Возможно ли совмещать магазин с основной работой или вовсе бросить всё
          li
            .circle
              i.icon-icon-3
            p
              | Как создать крупный интернет-магазин с большим штатом сотрудников или делать успешный интернет-магазин из дома
          li
            .circle
              i.icon-icon-4
            p
              | Способы ухода из оффлайна в онлайн и как из онлайна расширять бизнес в оффлайн


    section#screen-five(class='block blue-block')
      .block-color
        .block-inner
          h3
            | Я уже готов пойти
          .button-light Регистрация


    section#screen-six(class='block white-block')
      .block-inner
        .box
          span.count 15
          h1 Реальных историй
          p от владельцев интернет-магазинов
          p
            | Секреты и фишки. Страхи и воля к победе. Откровенные <br>
            | провалы и ошеломительные успехи. <br>
            | Вы услышите всё!


    section#screen-seven(class='block white-block')
      .block-inner
        h2
          | Организаторы и ведущие мероприятия
        ul.org-column
          li
            .photo-circle
            h4 Давлет Сулейманов
            a(href="http://www.rezedasuleyman.com/") http://www.rezedasuleyman.com/
            ul.social
              li
                a(href="#" class="inst icon-insta")
              li
                a(href="#" class="vk icon-vk")
              li
                a(href="#" class="fb icon-fb")
            p
              | Бывший владелец сети интернет-магазинов посуды. Создал сеть из 18 брендовых сайтов, развил ее и успешно продал. Возглавлял интернет-магазин Групона. Создал с нуля бренд, лидирующий на рынке мусульманской одежды в России, наладил производство и создал сеть розничных магазинов.
          li
            .photo-circle
            h4 Борис Преображенский
            a(href="http://preboris.ru/") http://preboris.ru/
            ul.social
              li
                a(href="#" class="inst icon-insta")
              li
                a(href="#" class="vk icon-vk")
              li
                a(href="#" class="fb icon-fb")
            p
              | В разное время Борис являлся создателем, владельцем или совладельцем компаний: ForOffice.ru — крупнейшего поставщика печатного и полиграфического оборудования, Швейные Технологии SewTech.ru, Mir-Karcher.ru — крупнейшего интернет-магазина оборудования Karcher, Лайф Кафе, производства пиломатериалов Лесорубка.ру, типографии ZiPrint, интернет-магазина Genergy.ru, сервисной компании Воздушник, онлайн b2b-портала Rusmarket.ru, крупнейшего московского свадебного салона, рекламного агентства Новые Линии Продвижения, поставщика печатного 3D оборудования 3dplotter.ru, многих других различных интернет-магазинов и онлайн-проектов

        h2
          На мероприятии выступят
        ul.org-list
          li
            .circle-block
              .circle
            .text-block
              h4 01 Артем Соколов
              a(href="http://fotololo.ru") http://fotololo.ru
              p
                | "Мы Вам не перезвоним или как вдвоем обрабатывать 100 заказов в день". <br><br> Артем в интернет-торговле с 2007 года, начинал с продаж обуви и одежды, пока это не стало мейнстримом. Открыл более 10 магазинов по совершенно разным тематикам: косметика, продукты, зоотовары, подарки, мягкие игрушки, мебель. Артем расскажет о том, как вырастить успешный интернет-магазин "на свои" деньги, как максимально автоматизировать процессы, не теряя много времени на разработку, а используя уже работающие на рынке процессы. 
          li
            .circle-block
              .circle
            .text-block
              h4 02 Анна Шмигановская
              a(href="http://fotololo.ru") http://fotololo.ru
              p
                | Интернет-магазин был открыт 2 года назад. В начале создавалась онлайн примерочная, которую пытались продавать интернет-магазинам, но дело не пошло, тогда, чтобы не закрываться, решили сделать свой магазин. В качестве ниши была выбрана концепция продаж одежды только российских дизайнеров. На начальных этапах оборот доходил до 300 тысяч рублей в месяц при расходах в 600 тысяч, постепенно вырос до 700 тысяч, а после открытия магазина в ТЦ — до 1,5 млн. За 2 года работы интернет-магазин начал сотрудничать со 105 дизайнерами и строит большие планы на будущее
          li
            .circle-block
              .circle
            .text-block
              h4 03 Анна Шмигановская
              a(href="http://fotololo.ru") http://fotololo.ru
              p
                | "Мы Вам не перезвоним или как вдвоем обрабатывать 100 заказов в день". <br><br> Артем в интернет-торговле с 2007 года, начинал с продаж обуви и одежды, пока это не стало мейнстримом. Открыл более 10 магазинов по совершенно разным тематикам: косметика, продукты, зоотовары, подарки, мягкие игрушки, мебель. Артем расскажет о том, как вырастить успешный интернет-магазин "на свои" деньги, как максимально автоматизировать процессы, не теряя много времени на разработку, а используя уже работающие на рынке процессы. 


    section#screen-eight(class='block blue-block')
      .block-color
        .block-inner
          h3
            | Конечно иду!
          .button-light Регистрация


    section#screen-nine(class='block white-block')
      .block-inner
        h2
          | Партнеры мероприятия

        ul
          li
            a(href="#")
              .partner
              span Retail Rocket
          li
            a(href="#")
              .partner
              span Flocktory
          li
            a(href="#")
              .partner
              span InSales
          li
            a(href="#")
              .partner
              span Pr.Sare
        .button-block
          .button Cтать партнерам
          .button Все партнеры


    section#screen-ten(class='block blue-block')
      .block-color
        .block-inner
          h2
            | Кому важно пойти
          .icon-person
          ul
            li
              span 01
              p
                | Тем, кто только задумывается об открытии интернет-магазина: мероприятие поможет понять, нужно ли вам это, готовы ли вы пройти через все эти сложности и, если готовы, то, как и с чего следует начать.
            li
              span 02
              p
                | Начинающим интернет-магазинщикам: вы получите ответы на актуальные вопросы, узнаете, как избежать ошибок и каким курсом вам двигаться дальше.
            li
              span 03
              p
                | Опытным предпринимателям: вы сможете обменяться опытом с коллегами и обогатить свой арсенал новыми «фишками».
            li
              span 04
              p
                | Всем интересующимся интернет-торговлей: на целый день вы погрузитесь в тему интернет-торговли и существенно расширите свои познания в одной из самых актуальных и перспективных на сегодня тем.
            li
              span 05
              p
                | Всем сотрудникам интернет-магазинов, кто хочет расти, расширять свой кругозор и учиться на чужом опыте. 


    section#screen-eleven(class='block white-block')
      .block-inner
        h2
          | Всего за 1 день
