doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title P-day
    | <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    | <link rel="stylesheet" href="/stylesheets/fontcustom.css">
    | <link rel="stylesheet" href="/stylesheets/style.css">

    | <script type='text/javascript' src='/scripts/libs/jquery-2.1.1.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/underscore-min.js'></script>
    //- app scripts
    | <script type='text/javascript' src='/scripts/app.js'></script>
    | <script type='text/javascript' src='/scripts/views/main.js'></script>

  body
    section#screen-one(class='block blue-block')
      .block-color
        .block-inner
          header.header
            .logo
              div(class='logo-part-one icon-logo-1')
              div(class='logo-part-two icon-logo-2')
            ul.social
              li
                a(href="#" class="inst icon-insta")
              li
                a(href="#" class="vk icon-vk")
              li
                a(href="#" class="fb icon-fb")
            nav
              ul
                li
                  a(href="#") Выступающие
                li
                  a(href="#") Партнеры
                li
                  a(href="#") О Нас
          .box
            h1
              | Главное практическое мероприятие по интернет-торговле
            h3
              | 21 июня 2014 года 15 предпринимателей расскажут о том, как они создавали и развивали свои интернет-магазины, о своих успехах и провалах, поделятся практическим опытом, секретами и фишками онлайн-торговли.
            .button-light Регистрация


    section#screen-two(class='block white-block')
      .block-inner
        h3
          | В то время, как многие ходили по различным конференциям, слушали рассказы теоретиков и супер-звезд российского e-commerce, эти 15 предпринимателей работали над своими проектами. 


    section#screen-three(class='block blue-block')
      .block-color
        .block-inner
          h2
            | От 15 практиков вы узнаете
          ul
            li
              span 01
              p
                | Как они создавали свои магазины — выбирали тематику, с чего начинали и с какими сложностями сталкивались
            li
              span 02
              p
                | Секреты работы с персоналом — как нанимать и увольнять сотрудников
            li
              span 03
              p
                | Как копили и занимали деньги на запуск, находили инвесторов
            li
              span 04
              p
                | де найти надежных партнеров, выстроить выгодные отношения с ними и не разойтись в первые месяцы работы
            li
              span 05
              p
                | Каким образом они организуют работу с поставщиками, строят и оптимизируют логистику, ведут бухгалтерский учет и решают вечные проблемы с IT
            li
              span 06
              p
                | Как делать эффективную рекламу, развивать продажи, самостоятельно организовывать импорт товаров, производство и открыть розницу
            li
              span 07
              p
                | Что нужно для правильной автоматизации процессов
            li
              span 08
              p
                | Какие маркетинговые инструменты оказались эффективными, а какие чуть не разорили их
          p.slogan
            | А также, как они бороли свои страхи и находили выход из самых сложных ситуаций


    section#screen-four(class='block white-block')
      .block-inner
        h2
          | Вы узнаете о разных путях 15 интернет — предпринимателей:
        ul
          li
            .circle
              i.icon-icon-1
            p
              | Как открывать магазин без бюджета, на кредитные или инвестиционные деньги
          li
            .circle
              i.icon-icon-2
            p
              | Возможно ли совмещать магазин с основной работой или вовсе бросить всё
          li
            .circle
              i.icon-icon-3
            p
              | Как создать крупный интернет-магазин с большим штатом сотрудников или делать успешный интернет-магазин из дома
          li
            .circle
              i.icon-icon-4
            p
              | Способы ухода из оффлайна в онлайн и как из онлайна расширять бизнес в оффлайн

    section#screen-five(class='block blue-block')
      .block-color
        .block-inner
          h3
            | Я уже готов пойти
          .button-light Регистрация


    section#screen-six(class='block white-block')
      .block-inner
        .box
          span.count 15
          h1 Реальных историй
          p от владельцев интернет-магазинов
          p
            | Секреты и фишки. Страхи и воля к победе. Откровенные <br>
            | провалы и ошеломительные успехи. <br>
            | Вы услышите всё!


    section#screen-seven(class='block white-block')
      .block-inner
        h2
          | Организаторы и ведущие мероприятия


    section#screen-eight(class='block blue-block')
      .block-color
        .block-inner
          h3
            | Конечно иду!
          .button-light Регистрация


    section#screen-nine(class='block white-block')
      .block-inner
        h2
          | Партнеры мероприятия
