doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title P-day
    | <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    | <link rel="stylesheet" href="/stylesheets/sprite.css">
    | <link rel="stylesheet" href="/stylesheets/style.css">

    | <script type='text/javascript' src='/scripts/libs/jquery-2.1.1.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/underscore-min.js'></script>
    //- app scripts
    | <script type='text/javascript' src='/scripts/app.js'></script>
    | <script type='text/javascript' src='/scripts/views/main.js'></script>
  body
    #screen-one(class='block blue-block')
      .block-color
        .block-inner
          header.header
            .svg-logo-1
          .box
            h1
              | Главное практическое мероприятие по интернет-торговле
            h3
              | 21 июня 2014 года 15 предпринимателей расскажут о том, как они создавали и развивали свои интернет-магазины, о своих успехах и провалах, поделятся практическим опытом, секретами и фишками онлайн-торговли.

    #screen-two(class='block white-block')
      .block-inner
        h3
          | В то время, как многие ходили по различным конференциям, слушали рассказы теоретиков и супер-звезд российского e-commerce, эти 15 предпринимателей работали над своими проектами. 

    #screen-three(class='block blue-block')
      .block-color
        .block-inner
          h2
            | От 15 практиков вы узнаете

    #screen-four(class='block white-block')
      .block-inner
        h2
          | Вы узнаете о разных путях 15 интернет — предпринимателей:

    #screen-five(class='block blue-block')
      .block-color
        .block-inner
