doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=0.3')
    title P-day
    | <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    | <link rel="stylesheet" href="/stylesheets/fontcustom.css">
    | <link rel="stylesheet" href="/stylesheets/style.css">

    | <script type='text/javascript' src='/scripts/libs/jquery-2.1.1.min.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery.easing.1.3.js'></script>
    | <script type='text/javascript' src='/scripts/libs/jquery-ui-1.10.4.custom.js'></script>
    | <script type='text/javascript' src='/scripts/libs/moment.min.js'></script>
    //- additional scripts
    | <script src="//vk.com/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
    | <script type="text/javascript">VK.init({apiId: 4373980, onlyWidgets: true});</script>
    //- app scripts
    | <script type='text/javascript' src='/scripts/app.js'></script>
    | <script type='text/javascript' src='/scripts/views/main_view.js'></script>

  body
    | <div id="fb-root"></div>
    | <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    section#screen-one(class='block blue-block')
      .block-color
        .svg-section
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="600" width="270")
            line(x1="270" y1="0" x2="0" y2="600")
          svg(height="6000" width="2700")
            line(x1="2700" y1="0" x2="0" y2="6000")
        .block-inner
          header.header
            .logo
              div(class='logo-part-one icon-logo-1')
              div(class='logo-part-two icon-logo-2')
            ul.social
              li
                a(href="http://instagram.com/internetpraktika" target="_blank" class="inst icon-insta")
              li
                a(href="https://vk.com/public71012625" target="_blank" class="vk icon-vk")
              li
                a(href="https://www.facebook.com/praktikadays?ref=hl" target="_blank" class="fb icon-fb")
            nav
              ul
                li
                  a(href="/") Главная
            .likes-button
              .vk-like
                | <div id="vk_like"></div>
                | <script type="text/javascript">VK.Widgets.Like("vk_like", {type: "mini"});</script>
              .fb-like
                | <div class="fb-like" data-href="https://praktikadays.ru" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          .box
            h1
              | Главное практическое мероприятие по интернет-торговле
            h3
              | 21 июня 2014 года 15 предпринимателей расскажут о том, как они создавали и развивали свои интернет-магазины, о своих успехах и провалах, поделятся практическим опытом, секретами и фишками онлайн-торговли.
            ul.two-coll
              li
                span.desc До начала осталось:
                div.days-count
                  span.count
                  p
              li
                div
                  span.count +7 (495) 726-09-39
                span.desc Телефон для справок

    section#screen-seven(class='block white-block about-screen partners-screen')
      .svg-section
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
        svg(height="600" width="270")
          line(x1="270" y1="0" x2="0" y2="600")
      .block-inner
        h2
          | Партнеры мероприятия
        ul.partners-list
          li
            .circle-block
              .circle
              span Официальный партнер
            .text-block
              h4 Rezeda suleyman
              a(target="_blank" href="http://fotololo.ru") http://fotololo.ru
              p
                | Артем в интернет-торговле с 2007 года, начинал с продаж обуви и одежды, пока это не стало мейнстримом. Открыл более 10 магазинов по совершенно разным тематикам: косметика, продукты, зоотовары, подарки, мягкие игрушки, мебель. Артем расскажет о том, как вырастить успешный интернет-магазин "на свои" деньги, как максимально автоматизировать процессы, не теряя много времени на разработку, а используя уже работающие на рынке процессы. 
          li
            .circle-block
              .circle
              span Официальный партнер
            .text-block
              h4 Rezeda suleyman
              a(target="_blank" href="http://fotololo.ru") http://fotololo.ru
              p
                | Артем в интернет-торговле с 2007 года, начинал с продаж обуви и одежды, пока это не стало мейнстримом. Открыл более 10 магазинов по совершенно разным тематикам: косметика, продукты, зоотовары, подарки, мягкие игрушки, мебель. Артем расскажет о том, как вырастить успешный интернет-магазин "на свои" деньги, как максимально автоматизировать процессы, не теряя много времени на разработку, а используя уже работающие на рынке процессы. 
          li
            .circle-block
              .circle
              span Официальный партнер
            .text-block
              h4 Rezeda suleyman
              a(target="_blank" href="http://fotololo.ru") http://fotololo.ru
              p
                | Артем в интернет-торговле с 2007 года, начинал с продаж обуви и одежды, пока это не стало мейнстримом. Открыл более 10 магазинов по совершенно разным тематикам: косметика, продукты, зоотовары, подарки, мягкие игрушки, мебель. Артем расскажет о том, как вырастить успешный интернет-магазин "на свои" деньги, как максимально автоматизировать процессы, не теряя много времени на разработку, а используя уже работающие на рынке процессы. 
          li
            .circle-block
              .circle
              span Официальный партнер
            .text-block
              h4 Rezeda suleyman
              a(target="_blank" href="http://fotololo.ru") http://fotololo.ru
              p
                | Артем в интернет-торговле с 2007 года, начинал с продаж обуви и одежды, пока это не стало мейнстримом. Открыл более 10 магазинов по совершенно разным тематикам: косметика, продукты, зоотовары, подарки, мягкие игрушки, мебель. Артем расскажет о том, как вырастить успешный интернет-магазин "на свои" деньги, как максимально автоматизировать процессы, не теряя много времени на разработку, а используя уже работающие на рынке процессы. 
