.svg-clock
  width: 300px
  height: 300px
  fill: #209375
  background-repeat: no-repeat
  background-size: 300px auto

.svg-logo-1
  float: left
  display: inline-block
  padding: 4px 0 4px 25px
  margin-right: 5px
  text-decoration: none
  color: #444
  background-repeat: no-repeat
  background-size: 20px auto

