html
  margin: 0px auto
  padding: 0px

body
  width: 100%
  heigth: auto
  background-color: #fff
  font-family: 'PT Sans Narrow', sans-serif

.block
  width: 100%
  position: relative
  overflow: hidden

  &.blue-block
    color: #fff

  &.white-block
    color: #073f5a

  .block-color
    width: 100%
    height: 100%
    background-color: rgba(#319bce, 0.9)

  .block-inner
    width: 960px
    height: 100%
    margin: 0 auto
    box-sizing: border-box
    padding-top: 115px
    position: relative
    z-index: 50

  .box
    width: 100%
    height: 550px
    box-sizing: border-box
    border: 4px solid #fff
    padding: 70px 100px 0 100px

#screen-one
  height: 750px
  background: url("../images/bg_one.jpg") no-repeat center center

  .block-inner
    padding: 0px

  .header
    height: 70px

  h3
    margin: -5px 0 0 0

#screen-two
  height: 220px

  .block-inner
    padding: 55px 0 0 0

  h3
    text-align: center

#screen-three
  height: 1060px
  background: url("../images/bg_one.jpg") no-repeat center center

  h2
    text-align: center

#screen-four
  height: 730px

#screen-five
  height: 250px
  background: url("../images/bg_one.jpg") no-repeat center center
